</main>
<footer>
    <p>&copy; 2025 Dominik Dobrowolski</p>
</footer>
<script>
    function openModal() {
        document.getElementById("leaveModal").classList.remove("hidden");
    }

    function closeModal() {
        document.getElementById("leaveModal").classList.add("hidden");
    }
</script>
</body>


</html>