<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/styles.css" />
</head>

<body>
    <header>
        <a href="/" class="site-title-link">
            <h1>Message Board</h1>
        </a>

        <div class="nav-wrapper">
            <% if (currentUser) { %>
                <p class="welcome-text">Welcome back, <em>
                        <%= currentUser.full_name %>
                    </em></p>
                <% } else { %>
                    <p class="welcome-text">&nbsp;</p>
                    <% } %>

                        <nav class="links">
                            <% if (currentUser) { %>
                                <a class="hover border nav-btn" href="/log-out">Log-out</a>

                                <% if (currentUser.is_member) { %>
                                    <button class="hover border nav-btn" onclick="openModal()">Leave Club</button>
                                    <div id="leaveModal" class="modal hidden">
                                        <div class="modal-content">
                                            <p>Are you sure you want to leave the club?</p>
                                            <form action="/leave-club" method="POST">
                                                <button type="submit" class="confirm-button">Yes, Leave</button>
                                                <button type="button" class="cancel-button"
                                                    onclick="closeModal()">Cancel</button>
                                            </form>
                                        </div>
                                    </div>

                                    <% if (!currentUser.is_admin) { %>
                                        <!-- <a class="hover border nav-btn" href="/become-admin">Admin: On</a> -->

                                        <form class="" action="/become-admin/<%= currentUser.id %>" method="POST">
                                            <button type="submit" class="hover border nav-btn"
                                                title="Delete message">Admin: On</button>
                                        </form>
                                        <% } else { %>
                                            <form class="" action="/remove-admin/<%= currentUser.id %>" method="POST">
                                                <button type="submit" class="hover border nav-btn"
                                                    title="Delete message">Admin: Off</button>
                                            </form>
                                            <% } %>
                                                <% } else { %>
                                                    <a class="hover border nav-btn" href="/become-member">Become a
                                                        Member</a>
                                                    <% } %>
                                                        <% } else { %>
                                                            <a class="hover border nav-btn" href="/log-in">Log-in</a>
                                                            <a class="hover border nav-btn" href="/sign-up">Register</a>
                                                            <% } %>
                        </nav>
        </div>
    </header>

    <main>