<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/styles.css" />
</head>

<body>
    <header>

        <a href="/" class="nav-link site-title-link">
            <h1>Message Board</h1>
        </a>

        <nav>
            <a class="nav-link log-in" href="/log-in">Log-in</a>

            <a class="nav-link" href="/sign-up">Register</a>
        </nav>
    </header>
    <main>