<%- include("./partials/header") %>

<div class="form-container">
    <h1 class="form-heading">Please enter your Login details:</h1>

    <form action="/log-in" method="POST" class="form">
        <div class="form-group">
            <label for="username">Email</label>
            <input id="username" name="username" type="email" placeholder="Email" required />
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input id="password" name="password" type="password" required />
        </div>

        <button type="submit" class="submit-button">Log In</button>

        <% if (typeof errorList !== 'undefined' && errorList.length > 0) { %>
            <ul class="error-messages">
                <% errorList.forEach(e => { %>
                    <li><%= e.msg %></li>
                <% }) %>
            </ul>
        <% } %>
    </form>
</div>

<%- include("./partials/footer") %>
